# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
comp1.mat
comp2.mat
comp3.mat
Huiyu Wang.mp4
midterm.txt
RD.fig
RD.png
RD2.png
RD3.png
RDbetter.fig
RDbetter.png
testbpnn.asv
readme.txt